.disflex {
    display:flex;
}

.jstfar {
    justify-content: space-around;
}

.p1 {
    padding: 1rem;
}
.p2 {
    padding: 2rem;
}

.pl2 {
    padding-left:2rem;
}
.pr2 {
    padding-right:2rem;
}

.fs1p2r {
    font-size:1.2rem;
}

.pb1r {
    padding-bottom:1rem;
}

.border-box {
    border-radius:1rem;
}

.mauto {
    margin:auto;
}

.mt1r {
    margin-top:1rem !important;
}

.mt2r {
    margin-top:2rem !important;
}

.mb1r {
    margin-bottom:1rem !important;
}

.cen {
    text-align: center;
}

.white {
    color:white;
}

.b1grey {
    border: 1px solid grey;
}

.adBlue {
    color:$header-bg-color
}